body {
    font-family: "Roboto", serif;
}

/* nav */

.nav-container {
    /* positioning */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 16px 200px;
    align-items: center;

    /* visuals */
    background-color: #1F2937;

}

.nav-container a {
    text-decoration: none;
    color: #E5E7EB;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}