body {
    font-family: "Roboto", serif;
}

/* nav */

.nav-container {
    /* positioning */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 16px 200px;
    align-items: center;

    /* visuals */
    background-color: #1F2937;
}

.nav-container li:first-child {
    margin-right: auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 100px 15%;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px;
    flex: 0 1 500px;
    gap: 15px;
    align-items: center;
}

.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}

.hero-image {
    width: 500;
    height: auto;
}

.hero-content button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
    border: 2px white solid;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
}

/* info boxes */